#mainBox {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 255, 55, 0.288);
    color: #000400; /* Fixed invalid color */
    border-top: 2px solid rgba(4, 138, 27, 0.411);
    padding: 10px;
}

#boton {
    padding-right: 10px;
}
#texto {
    background-color: rgba(0, 255, 55, 0.288);
    border-top: 2px solid rgba(4, 138, 27, 0.411);
    padding: 10px;
}

#userInput {
    padding-right: 10x;
}

#characterBox {
    margin: 0px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#characterCard {
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.103);
    margin: 0;
    padding: 0;
    border: 12px solid rgba(0, 255, 13, 0.178);
}